[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gurobipy = "*"
networkx = "*"

[dev-packages]
autopep8 = "*"
gurobipy-stubs = "*"

[requires]
python_version = "3.11"
